<div class="container">
    <div class="row">
        <!--&lt;!&ndash; <div class="row">-->
        <form method = "POST" id="register">
            <h2 class="cen">Register for insert cars</h2>
            <div class="registerDiv">
                <label>Year:</label>
                <input type="number" ng-model=" user.year" id="year" name="year" placeholder="year" value="">
                <label>IconYear:</label>
                <input type="text" id="iconYear" name="iconYear" ng-model="user.iconYear" placeholder="iconYear" value="">
                <label>Make:</label>
                <input type="text" id="make" name="make" ng-model=" user.make" placeholder="make" value="">
                <label>Condition:</label>
                <input type="text" id="condition" name="condition" ng-model=" user.condition" placeholder="condition" value="">
                <label>Body:</label>
                <input type="text" id="body" name="body" ng-model=" user.body" placeholder="body" value="">
                <label>Icontransmission:</label>
                <input type="text" id="icontransmission" ng-model=" user.icontransmission" name="icontransmission" placeholder="icontransmission" value="">
                <label>Transmission:</label>
                <input type="text" id="transmission" ng-model=" user.transmission" name="transmission" placeholder="transmission" value="">
                <label>IconuseWay:</label>
                <input type="number" id="useWay" name="useWay"ng-model=" user.useWay" placeholder="useWay" value="">
                <label>Price:</label>
                <input type="number" id="price" name="price"ng-model=" user.price" placeholder="price" value="">
                <label>Description:</label>
                <input type="text" id="description" name="description"ng-model=" user.description" placeholder="description" value="">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="reset" value="reset" >
                    </div>
                    <div class="col-sm-6">
                        <button type="submit"  class="btn mt-1" ng-click="doSignUp()" ng-disabled="signup_form.$invalid" style="width: 100%">Save data</button>
                    </div>
                </div>
            </div>
        </form>

            <form action = "http://localhost:8080/upload" method = "POST" enctype="multipart/form-data"><!-- upload@ papki anunn e-->
                <input type="file" name="file" value="Choose file "/>
                <input type='submit' value='Upload!' class="btn" />
            </form>


            <img src = "carsImage/audi.jpg" style="margin-top: 10px;height: 700px">

    </div>
</div>

