.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  width: 700px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid black;
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.centered-items input[type="text"] {*/
/*  border: 1px solid black;*/
/*  margin-left: 10px;*/
/*}*/

.content {
  margin-top: 20px;
  border: 1px solid black;
  text-align: center;
}

.search {
  margin-left: 10px;
}

.inn {
  margin-right: 10px;
}


.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.input-group input {
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
}

.input-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: blue;
}
