
<div class="container" class="row">
    <div class="col-sm-6" ng-repeat="item in product">

        <div ng-click="f(item.name, item.permalink, item.crunchbase_url, item.homepage_url, item.homepage_url)"><h3>{{item.name}}</h3></div>
        <div >{{item.price | currency}}</div>
        <div >{{item.homepage_url}}</div>

    </div>
</div>

<div  data-pagination="" data-num-pages="numPages()"
      data-current-page="currentPage" data-max-size="maxSize"
      data-boundary-links="true">

</div>

